body {
    background-color: rgb(188, 157, 255);
  }
  
  h1 {
   
    color: #000000;
    margin-left: 100px;
    font-family: "Lucida Console", "Courier New", monospace;

  }

  
  div {
    border: 10px solid pink;
    padding: 10px;
    margin: 100px;
    width: 600px;
  }